<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycj.order.mapper.OrderMapper">
    <select id="getOrderTotal" resultType="int">
        select count(*) from order;
    </select>
</mapper>